## Windows ##
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

## Mac ##
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*

## project file ##
src/assets/styles
node_modules
package-lock.json
.env

## vscode
*.code-workspace

app/vendor/
composer.lock
